WebServiceApp/ServiceAppWCF/Service References/ProductServiceReference/ProductService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProductDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductDTO" nillable="true" type="tns:ProductDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductDTO" nillable="true" type="tns:ArrayOfProductDTO" />
  <xs:complexType name="ProductDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="urunAd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="urunFiyat" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="urunID" type="xs:int" />
      <xs:element minOccurs="0" name="urunKategori" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="urunMarka" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="urunStok" nillable="true" type="xs:unsignedByte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductDTO" nillable="true" type="tns:ProductDTO" />
</xs:schema>